<app-breadcrumb
  [title]="'Sub Categories'"
  [items]="['Dashboard']"
  [active_item]="'Sub Categories'"
  icon="help-circle"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 btnPadding">
      <div class="card">
        <div class="card-header">
          <h5>Sub Categories</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div
              class="col-sm-6 d-flex justify-content-start align-items-center"
            >
              <div class="searchField mt-1 w-100">
                <input
                  type="text"
                  [(ngModel)]="searchInput"
                  placeholder="Search"
                  class="w-100 white"
                />
                <i class="fa fa-search"></i>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="order-history table-responsive wishlist">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Category</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngIf="
                        (sub_categories | filter : searchInput)?.length;
                        else noData
                      "
                    >
                      <tr
                        *ngFor="
                          let i = index;
                          let item;
                          of: sub_categories
                            | filter : searchInput
                            | paginate
                              : {
                                  itemsPerPage: 5,
                                  currentPage: duePage,
                                  totalItems: total
                                }
                        "
                      >
                        <th scope="row">{{ item?.id }}</th> 
                        <td>{{ item?.name || 'N\A'}}</td>
                       



                        
                      </tr>
                    </ng-container>
                    <ng-template #noData>
                      <tr *ngIf="sub_categories?.length">
                        <td colspan="2" class="text-center white">
                          No Matching Data Available
                        </td>
                      </tr>
                    </ng-template>
                    <tr *ngIf="!sub_categories?.length">
                      <td class="text-center white" colspan="2">
                        No data available
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div
              class="col-sm-12 d-flex justify-content-end"
              *ngIf="sub_categories?.length"
            >
              <pagination-controls (pageChange)="duePage = $event">
              </pagination-controls>
            </div>
          </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>
    </div>
  </div>
</div>




